<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>404</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='404.css') }}">
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
</head>
<body>

  <div id='oopss'>
    <div id='error-text'>
        <img src="https://cdn.rawgit.com/ahmedhosna95/upload/1731955f/sad404.svg" alt="404">
        <span>404 PAGE</span>
        <p class="p-a">Страница не найдена</p>
        <p class="p-b">
            ... Вернитесь к странице Авторизации
        </p>
        <a href='/login' class="back">... На страницу авторизации</a>
    </div>
</div>
  
  

</body>
</html>